
body{
    font-size: 1.5rem;
    font-family: sans-serif;
}

.columns{
    /* column-count:5;
    column-width: 250px; */
    columns: 5 150px;
    column-rule: 3px solid black;
    column-gap: 3rem;
}
.columns p{
    margin-top:0;
}
.columns h2{
    margin-top:0;
    background-color: #333;
    color: white;
    padding: 1rem;
    break-inside: avoid;

}
.quote{
    font-size: 3rem;
    text-align: center;
    color: #333;
    column-span:all;
}
.columns .quote{
    margin-top: 2rem;
}

.no-warp{
    white-space:nowrap;
}